APP_NAME = FeedSight-AI
APP_ENV = development
DEBUG = True

SUPABASE_URL = https://itvlyqaxkgurdqgzyzsk.supabase.co
SUPABASE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0dmx5cWF4a2d1cmRxZ3p5enNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2OTA0MDgsImV4cCI6MjEwNDI2NjQwOH0.3fUi5p3s1zPPZDTO3JDIlaWRWuvr6mcKm_z1BFf9pTM

MODEL_PATH = ai/models/